<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="getInfo" resultType="cn.pojo.Creation">
        select * from creation
        <trim prefix="where" prefixOverrides="and |or">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="creator !=null and creator != ''">
                and creator=#{creator}
            </if>
        </trim>
    </select>
</mapper>